<div id="nonRentalForm" th:fragment="notRented(mapType)">

    <h3>框出欲居住的區域：</h3>
    <input type="hidden" id="neLat" name="neLat">
    <input type="hidden" id="neLng" name="neLng">
    <input type="hidden" id="swLat" name="swLat">
    <input type="hidden" id="swLng" name="swLng">
    <div id="map" th:attr="data-map-type=${mapType}" style="height: 400px; width: 100%;"></div> <!-- 傳遞 'drawing' 類型 -->

    <!-- 房型選擇 -->
    <div class="room-type-selection-section">
        <h3>選擇您想要的房型及預算：</h3>
        <div id="roomTypeContainer" class="room-type-options">
            <!-- 房型選項將動態加載 -->
        </div>
    </div>

    <!-- 租期 -->
    <h3 for="rentalPeriod">租期（月）：</h3>
    <input type="number" id="rentalPeriod" name="rentalPeriod">

    <button type="button" onclick="submitForm()">送出</button>
</div>

