<div id="rentalForm" th:fragment="rented(mapType)">
    <br>
    <label for="addressInput">輸入房屋地址：</label>
    <input type="text" id="addressInput" name="addressInput" placeholder="輸入地址">
    <input type="hidden" id="neLat" name="neLat">
    <input type="hidden" id="neLng" name="neLng">
    <button type="button" id="geocodeButton">查詢</button>

    <div id="map" th:attr="data-map-type=${mapType}" style="height: 400px; width: 100%;"></div>

    <label for="houseName">房屋名稱:</label>
    <input type="text" id="houseName" placeholder="輸入房屋名稱">

    <!-- 可提供房間 -->
    <div id="availableRooms">
        <h2>可提供房間</h2>
        <div class="room">
            <a>選擇房型：</a>
            <select class="roomType" name="roomType">
                <!-- 房型選項將動態加載 -->
            </select>
            <a>價格:</a>
            <input type="number" class="price" placeholder="12000">
            <a>最短租期（月）:</a>
            <input type="number" class="period" placeholder="6">
        </div>
        <button type="button" onclick="addRoom()">新增房間</button>
    </div>

    <!-- 目前的室友 -->
    <div id="currentRoommates">
        <h2>目前的室友</h2>
        <div class="roommate">
            <a>選擇房型：</a>
            <select class="roomType" name="roomType">
                <!-- 房型選項將動態加載 -->
            </select>
            <a>描述:</a>
            <input type="text" class="description" placeholder="男，學生，安靜">
        </div>
        <button type="button" onclick="addRoommate()">新增室友</button>
    </div>

    <!-- 房屋詳細資料 -->
    <h2>房屋詳細資料</h2>
    <label for="petAllowed">允許寵物:</label>
    <select id="petAllowed">
        <option value="true">是</option>
        <option value="false">否</option>
    </select>

    <label for="rentalPeriod">租期:</label>
    <input type="text" id="rentalPeriod" placeholder="12個月">

    <label for="sharedSpaces">共用空間:</label>
    <input type="text" id="sharedSpaces" placeholder="客廳, 廚房, 衛浴">

    <label for="amenities">設施:</label>
    <input type="text" id="amenities" placeholder="冷氣, 冰箱, 洗衣機">

    <label for="additionalFees">額外費用:</label>
    <input type="text" id="additionalFees" placeholder="水電費, 網路費">

    <label for="nearbyFacilities">附近設施:</label>
    <input type="text" id="nearbyFacilities" placeholder="便利商店, 超市, 公園">

    <label for="other">其他資訊:</label>
    <textarea id="other" placeholder="維修政策: 每月檢查; 訪客限制: 訪客必須登記"></textarea>

    <button type="button" onclick="submitForm()">提交</button>
</div>
