<div class="sidebar" th:fragment="sidebar">
    <div class="pearl">
        <img src="https://roommatebucket.s3.ap-southeast-2.amazonaws.com/pearl.png" alt="pearl" width="120"
             height="120"/>
    </div>
    <div class="step active">
        <span class="step-number">1</span>
        租屋資訊
    </div>
    <div class="step">
        <span class="step-number">2</span>
        生活習慣偏好
    </div>
    <div class="step">
        <span class="step-number">3</span>
        媒合潛在室友
    </div>
</div>
