<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roommate Matching Platform</title>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/mainpage.css">
</head>
<body>
<div class="container">
    <!-- Header will be included here -->
    <div id="header-placeholder"></div>

    <div class="content">
        <div class="text-content">
            <h1>室友媒合平台</h1>
            <p>Find the perfect roommate, Share the perfect space!</p>

            <div class="button-container">
                <button class="button button-rental">找家庭式租屋室友</button>
            </div>
        </div>
        <div class="icon-space">
            <img src="https://roommatebucket.s3.ap-southeast-2.amazonaws.com/home-decor.png" alt="icon-space"/>
        </div>
    </div>

</div>
<script>
    function toggleForms() {
        var status = document.getElementById("status").value;
        console.log("toggleForm");
        window.location.href = "/rental-form?status=" + status;
    }

    document.addEventListener('DOMContentLoaded', function () {

        const isWelcomeRendered = sessionStorage.getItem('isWelcomeRendered');

        if (!isWelcomeRendered) {
            fetch('/api/1.0/users/user-info', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch user info');
                    }
                    return response.json();
                })
                .then(userId => {

                    sessionStorage.setItem('myId', userId);

                    fetch(`/api/1.0/users/${userId}/name`)
                        .then(response => response.text())
                        .then(name => {
                            document.getElementById('welcome-message').textContent = '您好，' + name;
                            sessionStorage.setItem('isWelcomeRendered', 'true');
                        });
                })
                .catch(error => {
                    console.error('Error fetching user info:', error);
                });
        }

    });

</script>
<script src="js/mainpage.js"></script>
<script src="js/header.js"></script>
</body>
</html>
