<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roommate Matching Platform</title>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/mainpage.css">
</head>
<body>
<div class="container">
    <!-- Header will be included here -->
    <div id="header-placeholder"></div>

    <div class="content">
        <div class="text-content">
            <h1>室友媒合平台</h1>
            <p>Find the perfect roommate, Share the perfect space!</p>

            <div class="button-container">
                <button class="button button-dorm">Find Dorm Roommate</button>
                <button class="button button-rental">Find Rental Roommate</button>
            </div>
        </div>
        <div class="icon-space">
            <img src="https://roommatebucket.s3.ap-southeast-2.amazonaws.com/home-decor.png" alt="icon-space"/>
        </div>
    </div>

</div>

<script src="js/mainpage.js"></script>
</body>
</html>
