<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Simple Marker</title>
    <script th:inline="javascript">
        var apiKey = /*[[${googleMapsApiKey}]]*/ 'defaultKey';
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?key=' + apiKey + '&callback=initMap&libraries=drawing&v=beta';
        script.defer = true;
        document.head.appendChild(script);
    </script>
    <link rel="stylesheet" href="/css/map.css">
</head>

<body>
<div id="map" data-map-type="/*[[${mapType}]]*/"></div> <!-- 使用 data-map-type 指定地圖功能 -->

</body>
</html>


