<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matched Users</title>
    <style>
        .match-container {
            border: 1px solid #ccc;
            padding: 16px;
            margin-bottom: 24px;
            border-radius: 8px;
        }

        .match-info, .non-rented-info, .rented-house-info {
            margin-bottom: 16px;
        }

        .non-rented-item, .rented-house-item {
            background-color: #f9f9f9;
            padding: 8px;
            margin-bottom: 8px;
            border-radius: 4px;
        }

    </style>

</head>
<body>
<h1>Matched Users</h1>
<div id="data-container">
    <!-- 這裡會顯示從 GET 請求獲取的數據 -->
</div>

<script src="/js/not-rented-matched.js"></script>
</body>
</html>
