<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/matched.css">
    <title>Matched Users</title>
</head>
<body>
<div class="container">
    <div id="header-placeholder"></div>
    <main class="content">
        <div class="result-container">
            <h1>匹配結果</h1>
            <img src="https://roommatebucket.s3.ap-southeast-2.amazonaws.com/competitor-analysis.png"
                 alt="Competitor Analysis" class="result-image">
        </div>
        <div id="data-container">
            <!-- 匹配結果將在這裡動態生成 -->
        </div>
        <div class="pagination">
            <button id="prevPage">上一頁</button>
            <span id="pageInfo"></span>
            <button id="nextPage">下一頁</button>
        </div>
    </main>
</div>
<script src="js/header.js"></script>
<script src="/js/rented-matched.js"></script>
</body>
</html>
