<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC:wght@400;700&display=swap" rel="stylesheet">
    <title>Rental Search</title>
    <th:block th:replace="~{fragments/cssForm :: cssForm}"></th:block>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="main-content">
        <div id="header-placeholder"></div>
        <h1>室友媒合平台</h1>
        <br>
        <div class="cat">
            <img src="https://roommatebucket.s3.ap-southeast-2.amazonaws.com/cat.png" alt="cat" width="50"
                 height="50"/>
        </div>
        <div class="rental-content">
            <h3 for="status">你是否已找到房子？</h3>
            <select id="status" onchange="toggleForms()">
                <option value="not_rented" th:selected="${status == null || status == 'not_rented'}">尚未找到</option>
                <option value="rented" th:selected="${status == 'rented'}">已找到</option>
            </select>

            <div th:if="${status == null ||status == 'not_rented'}">
                <div th:replace="~{fragments/not-rented :: notRented(mapType=${mapType})}"></div>
            </div>

            <div th:if="${status == 'rented'}">
                <div th:replace="~{fragments/rented :: rented(mapType=${mapType})}"></div>
            </div>
        </div>
    </div>
    <!--&lt;!&ndash; 根據選擇顯示不同的表單 &ndash;&gt;-->
    <!-- 對於未找到房子的表單 -->
</div>


<!-- 通用的 Google Maps API 加載腳本 -->
<script th:inline="javascript">
    var apiKey = /*[[${googleMapsApiKey}]]*/ 'defaultKey';
    var script = document.createElement('script');
    script.src = 'https://maps.googleapis.com/maps/api/js?key=' + apiKey + '&callback=initMap&libraries=drawing&v=beta';
    script.defer = true;
    document.head.appendChild(script);
</script>

<!-- 動態加載不同表單的專屬腳本 -->
<script th:if="${status == null ||status == 'not_rented'}" src="/js/not-rented.js"></script>
<script th:if="${status == 'rented'}" src="/js/rented.js"></script>
<script src="/js/map.js"></script>

<script>
    function toggleForms() {
        var status = document.getElementById("status").value;
        window.location.href = "/rental-form?status=" + status;
    }
</script>
<script src="js/header.js"></script>

</body>
</html>