<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/matched.css">
    <title>Matched Users</title>
</head>
<body>
<div class="container">
    <div id="header-placeholder"></div>
    <main class="content">
        <div class="result-container">
            <h1>匹配結果</h1>
            <img src="https://roommatebucket.s3.ap-southeast-2.amazonaws.com/competitor-analysis.png"
                 alt="Competitor Analysis" class="result-image">
        </div>
        <div id="data-container">
            <!-- 動態顯示經緯度和租期資訊 -->
            
        </div>
        <div class="pagination">
            <button id="prevPage">上一頁</button>
            <span id="pageInfo"></span>
            <button id="nextPage">下一頁</button>
        </div>
    </main>
</div>

<div id="matchModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modalDataContainer">
            <!-- compare.html 的內容將會載入到這裡 -->
        </div>
    </div>
</div>
<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>-->
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        initializeMatchResults();
    });

    var apiKey = /*[[${googleMapsApiKey}]]*/ 'defaultKey';
    var script = document.createElement('script');
    script.src = 'https://maps.googleapis.com/maps/api/js?key=' + apiKey + '&callback=initMap';
    script.defer = true;
    script.async = true;
    document.head.appendChild(script);
</script>
<script src="js/compare.js"></script>
<script src="/js/rented-matched.js"></script>
<script src="js/header.js"></script>
</body>
</html>